mat-form-field {
  width: 100%;
  padding: 5px;
  overflow: hidden;
}
// mat-form-field,
// mat-label {
//   // width: 30%;
//   // position: absolute;
// }
.example-radio-group {
  display: flex;
  flex-direction: column;
  margin: 15px 0;
  align-items: flex-start;
}

.example-radio-button {
  margin: 0px;
}
